<!DOCTYPE html>
<!--initialise ng-app-->
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title> Assessment</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/main.css" />

</head>

<!--CONTROLLER-->
<body ng-controller="RegistrationCtrl as ctrl" ng-cloak>

    <div class="col-sm-2 col-lg-4"></div>

    <div class="col-sm-8 col-lg-4 registration-page form-col">

        <form name="ageForm" ng-submit="ageForm.$valid && ctrl.checkAge()" ng-hide ="ctrl.entryHide" class="form-col" required>
            <h1> Please verify that you are above 18 </h1>
            <hr>
            <div class="form-group">
                <input id="dateOfBirth"
                    name="dateOfBirth"
                    type="date" 
                    value="2017-09-03" 
                    class="form-control" 
                    ng-model="ctrl.user.dateofbirth" 
                    required/>
                <!-- Call custom function to check above 18yo to submit form -->
                <div class="validation" 
                    data-ng-show="ctrl.below18() || ageForm.$submitted">
                    <span class="glyphicon glyphicon-alert"></span> You need to be above 18 years old.
                </div>
            </div>
            <div class="form-group">
                <input id="submit" name="submit" type="submit" class="btn btn-default" ng-disabled="ctrl.below18()"/>
            </div>
        </form>

    <!--shows form-->
    <div ng-show = "ctrl.formShow">

    <!--initialise controller -->
        
        <!--$valid: It will be TRUE, if all containing form and controls are valid-->
        <!--novalidate disables html's inbuilt form validation-->
        <h1> Registration </h1>
        <hr>
        <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.registerUser()" novalidate>

            <!--email-->
            <div class="form-group">
                <label for="email">Email address</label>
                <!--required is required to allow ng-show to work-->
                <input  id="email"
                        name="email" 
                        type="email" 
                        placeholder="you@domain.com" 
                        class="form-control" 
                        ng-model="ctrl.user.email" 
                        required/>
                <div class = "validation" 
                        data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.email.$error.required">
                        <span class = "glyphicon glyphicon-alert"></span> Email is Mandatory.
                    </div>
                    <div data-ng-show="registrationForm.email.$error.email">
                        <span class = "glyphicon glyphicon-alert"></span> Email is Invalid.
                    </div>
                </div>
            </div>

            <!--password-->
            <div class="form-group">
                <label for="password">Password</label>
                <input  id="password"
                        name="password"
                        type="password"
                        class="form-control"
                        ng-model="ctrl.user.password"
                        minlength="8"
                        ng-pattern="/^(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                        required />
                <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Password is mandatory.
                    </div>
                    <div data-ng-show="registrationForm.password.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 characters long.
                    </div>
                    <div data-ng-show="registrationForm.password.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Password must contain uppercase and lowercase letters, 
                        at least one number and at least one of these special characters (@,#,$).
                    </div>
                </div>
            </div>

            <!--Confirm password-->
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input  id="confirm-password" 
                        name="confirm-password" 
                        type="password"
                        class="form-control"
                        ng-model="ctrl.user.confirmPassword"
                        ng-disabled="registrationForm.password.$invalid"
                        required ng-required="ctrl.user.password"/>
                <div class="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.confirm-password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Password is mandatory.
                    </div>
                    <div data-ng-show="ctrl.user.password != ctrl.user.confirmPassword">
                        <span class="glyphicon glyphicon-alert"></span> Passwords not matching. 
                    </div>
                </div>
            </div>

            <!--full name-->
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input id="fullname"
                       name="fullname" 
                       type="text"
                       class="form-control" 
                       ng-model="ctrl.user.fullname" 
                       ng-minlength="3" 
                       required/>
                <div class="validation" data-ng-show="registrationForm.fullname.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.fullname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Full name is mandatory.
                    </div>
                    <div data-ng-show="registrationForm.fullname.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Enter a name that is more than 3 characters.
                    </div>
                </div>
            </div>

            <!--gender-->
            <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" type="radio" value="Male" ng-model="ctrl.user.gender" required/> Male
                <br/>
                <input id="gender" name="gender" type="radio" value="Female" ng-model="ctrl.user.gender" required/> Female
                <br/>
            <div class="validation" data-ng-show="registrationForm.gender.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.gender.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Gender is mandatory.
                        </div>
                </div>
             </div>

            <!--address-->
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address"
                       name="address"
                       type="text"
                       class="form-control"
                       ng-model="ctrl.user.address"
                       required/>
                <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.address.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Address is mandatory.
                        </div>
                </div>
            </div>
            
            <!--nationality-->
            <div class="form-group">
                <label for="nationality">Country</label>
                <select class="form-control" id="country" name = "country" ng-model="ctrl.user.country" required>
                    <option value="1 SG">Singapore</option>
                    <option value="2 IN">Indonesia</option>
                    <option value="3 MY">Malaysia</option>
                    <option value="4 TH">Thailand</option>
                    <option value="5 VI">Vietnam</option>
                </select>
            <div class="validation" data-ng-show="registrationForm.country.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.country.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Country is mandatory.
                        </div>
                </div>
            </div>

            <!--contact number-->
            <div class="form-group">
                <label for="contactnumber">Contact number</label>
                <input id="contactnumber" name="contactnumber" type="text" class="form-control" ng-model="ctrl.user.contactnumber" required/>
                <div class="validation" data-ng-show="registrationForm.contactnumber.$touched || registrationForm.$submitted">
                        <div data-ng-show="registrationForm.contactnumber.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Contact Number is mandatory.
                        </div>
                </div>
            </div>

            <div class="form-group">
                <input id="submit" name="submit" type="submit" class="btn btn-default" style = "display: inline"/>
            </div>
            <div data-ng-show="registrationForm.$submitted && !registrationForm.$valid" style = "display: inline">
                        <span class = "glyphicon glyphicon-alert"></span> Please fill up all fields.
                    </div>
                    <div data-ng-show="registrationForm.$submitted && registrationForm.$valid" style = "display: inline">
                        <span class = "glyphicon glyphicon-ok" style = "font-size: 36px"></span> THANK YOU
                    </div>
        
        </form>

    </div>
    </div>
    </div>

    

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/registration.controller.js"></script>

</body>
</html>