*{
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

h1{
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
}

 hr{
  width: 360px;
 }

input[type="text"], input[type="email"], input[type="password"],input[type="select"]{
    border-radius: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor:default;
    border-bottom: 1px solid black;
}
